#projects {
  padding: 6rem 3rem;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.projects-title {
  font-size: 5rem;
  font-family: var(--font-title);
  color: var(--text-color-neg);
  text-align: center;
  margin-bottom: 6rem;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.projects-container {
  display: flex;
  flex-direction: row;
  column-gap: 15rem;
  row-gap: 5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card-wrapper {
  opacity: 0; /* Comienza invisible */
  transform: translateX(150px); /* Mayor desplazamiento desde la derecha */
  transition: transform 0.8s ease-out, opacity 0.8s ease-out; /* Transición más lenta para mejor visibilidad */
}

.project-card-wrapper.visible {
  opacity: 1;
  transform: translateX(0); /* Desplazamiento a posición inicial */
}

@media (max-width: 1625px) {
  .projects-container {
    column-gap: 10rem;
  }
}

@media (max-width: 1475px) {
  .projects-container {
    column-gap: 6rem;
  }
}

@media (max-width: 1350px) {
  .projects-container {
    column-gap: 4rem;
  }
}

@media (max-width: 860px) {
  .projects-container {
    column-gap: 2rem;
  }
}



@media (max-width: 720px) {
  #projects {
    padding: 3rem 0rem;
  }

  .projects-title {
    font-size: 3.5rem;
    text-align: center;
  }

  .projects-container {
    flex-direction: column;
    gap: 2rem;
  }
}
