/* Hero.css */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.hero-title {
  font-size: 4.5rem;
  font-family: "Galada", cursive;
  margin: 0;
  color: var(--primary-color);
}

.hero-subtitle {
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif;
  margin: 1rem 0 0.5rem;
  color: var(--accent-color);
}

.hero-description {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  color: var(--text-color);
}

.hero-action {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.cta-button {
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid var(--accent-color);
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #A67F5E;
  color: #ffffff;
}

.hero-location {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Space Grotesk", sans-serif;
  color: var(--accent-color);
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .hero-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .hero-title {
      font-size: 3rem;
  }

  .hero-subtitle {
      font-size: 1.5rem;
  }

  .cta-button {
      width: 100%;
      max-width: 250px;
  }
}
