@import "../styles/variables.css";
@import "../index.css";

#home {
  position: relative;
  min-height: 100vh;
}

#hero-and-about {
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

#home-hero,
#home-about {
  border: 1px solid white;
  padding: 5rem;
  flex: 1;
  transition: flex 0.3s ease, font-size 0.3s ease;
  font-size: 1rem;
  backdrop-filter: blur(5px);
}

/* Aseguramos que el borde sea visible en secciones blancas */
.bg-white #home-hero,
.bg-white #home-about {
  border-color: black;
}

#home-hero:hover,
#home-about:hover {
  flex: 2;
  font-size: 1.5rem;
}

#home-experience,
#home-projects,
#home-skills {
  position: relative;
  min-height: 100dvh;
  padding: 2rem;
}

#home-contact {
  position: relative;
  min-height: 100dvh;
  padding: 2rem;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  #hero-and-about {
    flex-direction: column;
    padding: 1rem;
  }

  #home-hero,
  #home-about {
    padding: 2rem;
    width: calc(100% - 4rem); /* Ajuste para el padding */
  }

  #home-hero:hover,
  #home-about:hover {
    flex: 1;
    font-size: 1.2rem;
  }

  #home-experience,
  #home-projects,
  #home-skills,
  #home-contact {
    padding: 1rem;
  }
}

/* Aseguramos transiciones suaves */
#home-hero,
#home-about,
#home-experience,
#home-projects,
#home-skills,
#home-contact {
  transition: all 0.3s ease;
}

/* Mejoramos la visibilidad del contenido en diferentes fondos */
.bg-white #home-hero,
.bg-white #home-about {
  background-color: rgba(255, 255, 255, 0.1);
}

#home-hero,
#home-about {
  background-color: rgba(0, 0, 0, 0.1);
}