@import "../styles/variables.css";
@import "../index.css";

#home-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#home-about {
  width: 100%;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-and-about {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  flex: content;
  justify-content: center;
  align-items: center;
}

.bg-light {
  background: var(--bg-color-neg);
  color: var(--text-color-neg);
  cursor: var(--cursor-dark);
}
.bg-light:hover {
  cursor: var(--cursor-dark);
}


.bg-dark {
  background: var(--bg-color);
  color: var(--text-color);
  cursor: var(--cursor);
}

.bg-dark:hover {
  cursor: var(--cursor);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  #home-experience,
  #home-projects,
  #home-skills,
  #home-contact {
    padding: 2rem;
  }
}
