:root {
  /* Fondo oscuro elegante */
  --bg-color: #2b2a26; /* Marrón oscuro, elegante sin ser completamente negro */
  --text-color: #f4ede1; /* Crema pálido, buena legibilidad y calidez */

  /* Colores principales */
  --primary-color: #d4a373; /* Dorado suave, aporta sofisticación */
  --secondary-color: #b2ada5; /* Gris cálido, neutro y sutil */

  /* Fondo claro */
  --bg-color-neg: #f4f1eb; /* Beige claro, apariencia suave y cálida */
  --text-color-neg: #3b3a36; /* Gris oscuro para mantener contraste sin ser negro absoluto */

  /* Acento */
  --accent-color: #a67f5e; /* Marrón dorado suave para destacar ciertos elementos */

  /* Otras variables */
  --base: 20vmin;
  --transition: all 0.2s;
  --cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* Cursores personalizados */
  --cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='%23F4EDE1'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E")
      20 0,
    auto;
  --cursor-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 24 24' fill='none' stroke='%23F4EDE1' stroke-width='1'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E")
      20 0,
    auto;
  --cursor-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='%233B3A36'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E")
      20 0,
    auto;
  --cursor-dark-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 24 24' fill='none' stroke='%233B3A36' stroke-width='1'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E")
      20 0,
    auto;
}
