/* About.css */

.about-section {
  color: var(--text-color-neg);
  text-align: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.about-title {
  font-size: 7.5rem;
  font-family: var(--font-title);
  color: var(--primary-color-neg);
  margin-bottom: 2rem;
  flex: 1;
  text-align: left;
}

.about-description {
  font-size: 1.8rem;
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.8;
  margin: 0 ;
  color: var(--text-color-neg);
  flex: 2;
  text-align: justify;
  flex-direction: column;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .about-section {
    padding: 3rem 1rem;
    flex-direction: column;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .about-description {
    font-size: 1.1rem;
  }
}
