/* Experience.css */

.experience-section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100dvh;
}

/* .experience-title-up {
  display: none;
  font-size: 5.5rem;
  padding-right: 4rem;
  font-family: var(--font-title);
  color: var(--text-color);
  margin-bottom: 2rem;
  flex: 1;
  line-height: 0 !important;
  letter-spacing: 0 !important;
  text-orientation: upright;
} */

.experience-container {
  flex: 1;
}

.experience-title {
  font-size: 5.5rem;
  padding-right: 4rem;
  font-family: var(--font-title);
  color: var(--text-color);
  margin-right: 2rem;
  line-height: 0 !important;
  letter-spacing: 0 !important;
  text-orientation: upright;
}

.jobs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 2;
  gap: 3rem;
}

@media (max-width: 720px) {
  .experience-section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
  }
  /* 
  .experience-title{
    display: none;
  }
  .experience-title-up{
    display: none;
  } */
}
