@import "./styles/variables.css";

html {
  scroll-behavior: smooth;
  font-family: var(--font-subtitle);
  max-width: 100dvw;
}

body {
  margin: 0;
  line-height: 1;
  overflow: overlay;
  cursor: var(--cursor-dark);
  max-width: 100dvw;
}

/* Estilos del scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  opacity: 0.7;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

body::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

[hidden] {
  display: none;
}

[cursor]:hover {
  cursor: var(--cursor-dark-hover);
}

