@import "./styles/variables.css";

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: "Zen Antique", serif;
  line-height: 1;
  overflow: overlay;
  cursor: var(--cursor-dark);
  color: var(--text-color);
}

/* Estilos del scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  opacity: 0.7;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

body::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

[hidden] {
  display: none;
}

[cursor]:hover {
  cursor: var(--cursor-dark-hover);
}

.bg-light {
  background: var(--bg-color-neg);
  cursor: var(--cursor);
  color: var(--text-color-neg);
}

.bg-light [cursor] {
  cursor: var(--cursor);
}

.bg-light [cursor]:hover {
  cursor: var(--cursor-hover);
}

.bg-dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}